<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-itcenter-mobile-settings"
        version="0.0.1">

    <name>MobileSettings</name>

    <description>Appends settings to mobile platforms for voicis-uc-app.</description>

    <license>Apache 2.0</license>

    <author>Voicis UC Team</author>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundMode">
                <param name="ios-package" value="APPBackgroundMode" onload="true" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
	            <string>fetch</string>
	            <string>voip</string>
	            <string>remote-notification</string>
            </array>
        </config-file>

        <header-file src="src/ios/APPBackgroundMode.h" />
        <source-file src="src/ios/APPBackgroundMode.m" />
        <header-file src="src/ios/APPMethodMagic.h" />
        <source-file src="src/ios/APPMethodMagic.m" />
    </platform>
</plugin>
